/Teste/nbproject/private/
/Biblioteca/nbproject/private/
/Biblioteca/build.xml
/Biblioteca/manifest.mf
/Biblioteca/nbproject/
/Biblioteca/build/
/lab/FormTemplates/nbproject/private/
/lab/FormTemplates/build/
/lab/FormTemplates/dist/
/lab/*
/tarefas/ativas/ers/.~lock*.docx#
/Biblioteca/dist/
/BibliotecaSrv/nbproject/private/
/TCPServer/nbproject/private/
/TCPServer/build/
/TCPServer/dist/
